@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Weird Jokes</h1>
        <p>The Place for all the Weirdest and Darkest Tech Jokes</p>
    </div>
   



